* {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
}

form {
    padding: 200px;
    display: flex;
    flex-direction: column;

    gap: 20px;

    text-align: center;
}

label {
    font-size: 30px;
}

input {
    font-size: 20px;
    margin: 0px 200px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0px 250px;
}